@font-face {
  font-family: Aur;
  src: url(../styles/fonts/Aurebesh.otf);
}
@font-face {
  font-family: Robo;
  src: url(../styles//fonts/Roboto-Regular.ttf);
}
h1,
h2,
h3 {
  font-family: Aur;
}
body {
  font-family: Robo;
}
.nav-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: Aur;
  position: sticky;
  top: 0;
  background-color: #22272c;
}
ul {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 2px solid #dceaff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.link {
  font-size: 1rem;
  color: #dceaff;
  text-decoration: none;
}
i {
  color: #dceaff;
}
.link-container {
  padding: 1rem;
  width: 125px;

  background-color: #333a41;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-container > p {
  margin: 0;
}
.title-top > p {
  display: none;
}
.title-top {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0.25rem 0;
  background: #16171a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-top > i {
  font-size: 4rem;
}
@media screen and (max-width: 800px) {
  ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    border-bottom: 3px solid #dceaff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background: linear-gradient(#37424d, #333a41);
  }
  .link-container {
    margin: 0;
    padding: 0;
    height: 7vh;
    font-size: 1rem;
    background-color: transparent;
  }
  .link-container > p {
    display: none;
  }
  .link {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .title-top > p {
    display: none;
  }
}
